<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.mapper.StDictionaryMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.business.bean.StDictionary" >
	<result column="id" property="id"/>
	<result column="dkey" property="dkey"/>
	<result column="dvalue" property="dvalue"/>
	<result column="desc" property="desc"/>
	<result column="status" property="status"/>
</resultMap>
       
<!-- st_dictionary table all fields -->
<sql id="Base_Column_List" >
	 id,dkey,dvalue,`desc`,`status`
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	 	<if test="dkey != null and dkey != ''" >
	    and dkey =  #{dkey}
	</if>
	 	<if test="dvalue != null and dvalue != ''" >
	    and dvalue =  #{dvalue}
	</if>
	 	<if test="desc != null and desc != ''" >
	    and `desc` =  #{desc}
	</if>
	<if test="status != null" >
	    and `status` =  #{status}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into st_dictionary(id,dkey,dvalue,`desc`,`status`)
 values(#{id},#{dkey},#{dvalue},#{desc},#{status})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update st_dictionary set dkey=#{dkey},dvalue=#{dvalue},`desc`=#{desc},`status`=#{status} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update st_dictionary set 
	<trim  suffixOverrides="," >
	<if test="dkey != null  and dkey != '' ">
		dkey=#{dkey},
	</if>
	<if test="dvalue != null  and dvalue != '' ">
		dvalue=#{dvalue},
	</if>
	<if test="desc != null  and desc != '' ">
		`desc`=#{desc},
	</if>
	<if test="status != null  ">
		`status`=#{status},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from st_dictionary where id = #{id}
</delete>
 
<!-- 根据id查询 合伙人系统字典表 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from st_dictionary where id = #{id}
</select>

<!-- 合伙人系统字典表 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from st_dictionary 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询合伙人系统字典表列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from st_dictionary 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>

<select id="queryByDkey"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from st_dictionary where dkey = #{dkey}
</select>
  	
</mapper>   
