<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.mapper.StOpportunitiesCooperationCashbackMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.business.bean.StOpportunitiesCooperationCashback" >
	<result column="id" property="id"/>
	<result column="cooid" property="cooid"/>
	<result column="backamount" property="backamount"/>
	<result column="remark" property="remark"/>
	<result column="regtime" property="regtime"/>
	<result column="percent" property="percent"/>
	<result column="status" property="status"/>
</resultMap>
       
<!-- st_opportunities_cooperation_cashback table all fields -->
<sql id="Base_Column_List" >
	 id,cooid,backamount,remark,regtime,percent,status
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	<if test="cooid != null" >
	    and cooid =  #{cooid}
	</if>
	<if test="backamount != null" >
	    and backamount =  #{backamount}
	</if>
	 	<if test="remark != null and remark != ''" >
	    and remark =  #{remark}
	</if>
	<if test="regtime != null" >
	    and regtime =  #{regtime}
	</if>
	<if test="percent != null" >
	    and percent =  #{percent}
	</if>
	<if test="status != null" >
	    and status =  #{status}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into st_opportunities_cooperation_cashback(id,cooid,backamount,remark,regtime,percent,status)
 values(#{id},#{cooid},#{backamount},#{remark},#{regtime},#{percent},#{status})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update st_opportunities_cooperation_cashback set cooid=#{cooid},backamount=#{backamount},remark=#{remark},regtime=#{regtime},percent=#{percent},status=#{status} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update st_opportunities_cooperation_cashback set 
	<trim  suffixOverrides="," >
	<if test="cooid != null  ">
		cooid=#{cooid},
	</if>
	<if test="backamount != null  ">
		backamount=#{backamount},
	</if>
	<if test="remark != null  and remark != '' ">
		remark=#{remark},
	</if>
	<if test="regtime != null  ">
		regtime=#{regtime},
	</if>
	<if test="percent != null  ">
		percent=#{percent},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from st_opportunities_cooperation_cashback where id = #{id}
</delete>
 
<!-- 根据id查询 商机合作回款登记 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from st_opportunities_cooperation_cashback where id = #{id}
</select>

<!-- 商机合作回款登记 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from st_opportunities_cooperation_cashback 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询商机合作回款登记列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from st_opportunities_cooperation_cashback 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>

<!-- 查询回款登记表      统计合作回款的百分比 -->
<select id="queryPercentSum" resultType="java.lang.Double"  parameterType="Object">
	select sum(percent) as sum from st_opportunities_cooperation_cashback where cooid=#{cooid} 
</select>
  	
</mapper>   
