<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.mapper.SiteNewsDataMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.base.bean.SiteNewsData" >
	<result column="id" property="id"/>
	<result column="keywords" property="keywords"/>
	<result column="description" property="description"/>
	<result column="content" property="content"/>
	<result column="file" property="file"/>
</resultMap>
       
<!-- site_news_data table all fields -->
<sql id="Base_Column_List" >
	 id,keywords,description,content,file
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	 	<if test="keywords != null and keywords != ''" >
	    and keywords =  #{keywords}
	</if>
	 	<if test="description != null and description != ''" >
	    and description =  #{description}
	</if>
	 	<if test="content != null and content != ''" >
	    and content =  #{content}
	</if>
	 	<if test="file != null and file != ''" >
	    and file =  #{file}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into site_news_data(id,keywords,description,content,file)
 values(#{id},#{keywords},#{description},#{content},#{file})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update site_news_data set keywords=#{keywords},description=#{description},content=#{content},file=#{file} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update site_news_data set 
	<trim  suffixOverrides="," >
	
	<if test="keywords != null  and keywords != '' ">
		keywords=#{keywords},
	</if>
	<if test="description != null  and description != '' ">
		description=#{description},
	</if>
	<if test="content != null  ">
		content=#{content},
	</if>
	<if test="file != null  and file != '' ">
		file=#{file},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from site_news_data where id = #{id}
</delete>
 
<!-- 根据id查询 新闻栏目表 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from site_news_data where id = #{id}
</select>

<!-- 新闻栏目表 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from site_news_data 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询新闻栏目表列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from site_news_data 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
</mapper>   
